html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%
}

nav {
    margin-top: 20px;
}

.navbar {
    border: 1px solid black;
    height: 10%;
    margin-bottom: 0;
}

.wrapper{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

/* .wrapper *, nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    padding: 5px;
} */

.wrapper-tree{
    width: 25%;
    border: 1px solid black;
}

.wrapper-main{
    width: 50%;
    border: 1px solid black;
}

.showedFolder {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}
.nameFolder {
    text-decoration: none;
    width: 61%;
    text-align: left;
    align-self: center;
    color: black;
}
.nameFolder:focus {
    color: black;
}
.icon2 {
    width: 13%;
    cursor: pointer;
}
.icon {
    width: 13%;
    align-self: center;
    font-size: 21px;
}
.icon2 {
    background: none;
    align-self: center;
}

.wrapper-info{
    width: 25%;
    border: 1px solid black;
}

.hide-border{
    border: none;
}

.form-display{
    display: flex;
    align-items: center;
}