html{
    height: 100%;
    font-family: 'Baloo 2', cursive;
}

body{
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("./img/background.png");
    background-size: 100%;
}

nav {
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.navbar {
    border: 1px solid white;
    height: 10%;
    margin-bottom: 0;
}
.searcher {
    border-radius: 8px;
    border: 1px solid rgb(59, 59, 59);
    padding: 5px;
}
.searcher:focus {
    outline: none;
}

.wrapper{
    display: flex;
    width: 100%;
    height: 90%;
    margin-bottom: 20px;
}

.wrapper-tree{
    width: 25%;
    padding: 8px 10px 10px 10px;
}
.new-folder {
    padding: 5px 3px;
    color: rgb(59, 59, 59);
    border-radius: 8px;
    border: 1px solid rgb(59, 59, 59);
    width: 80%;
    cursor: pointer;
}
.upload-form {
    display: flex;
    flex-direction: column;
}
.upload-file {
    width: 100%;
}

.upload-file::-webkit-file-upload-button {
    visibility: hidden;
}
.upload-file::before {
    content: 'upload your file';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border-radius: 8px;
    border: 2px solid rgb(59, 59, 59);
    padding: 5px 3px;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 10px;
    width: 80%;
}
.upload-file:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.upload-file:focus {
    outline: none;
}

.wrapper-main{
    width: 50%;
    overflow-y: scroll;
    font-size: 14px;
}
.wrapper-main::-webkit-scrollbar {
    width: 8px;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(59, 59, 59);
}
.wrapper-main::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgb(105, 105, 105);
}

.showedFolder {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    color: white;
}
.nameFolder {
    text-decoration: none;
    width: 61%;
    text-align: left;
    align-self: center;
}
.nameFolder > h2 {
    color: white;
    font-size: 16px;
    word-wrap: break-word;
}
.nameFolder:focus {
    color: white;
}
.icon-modify, .icon-delete {
    color: white;
    width: 13%;
    cursor: pointer;
    background: none;
    align-items: center;
}
.icon-delete {
    padding-top: 5px;
}
.icon {
    width: 13%;
    align-self: center;
    font-size: 25px;
}
.icon-delete {
    width: 100%;
}
.icon-modify:focus, .icon-delete:focus {
    outline: none;
}
.hide-border{
    border: none;
}

.wrapper-info{
    width: 25%;
    opacity: 0.5;
}

/* Modal section */
.modal-section {
    background-color: rgba(246, 146, 26, 0.5);
    width: 100%;
    height: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
    display: none;
}
.modal-content-section {
    width: 65%;
    height: 35%;
    background-color: rgb(128, 128, 128);
    border-radius: 8px;
    display: flex;
    overflow: auto;
    position: relative;
}
.closed-modal {
    position: absolute;
    right: 15px;
    cursor: pointer;
    justify-content: flex-end;
    margin-right: 10px;
}
#closed-modal {
    position: fixed;
}
.modal-content {
    padding: 30px 10px 10px 15px;
    padding-right: 30px;
    width: 100%;
    color: white;
}
.form-display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-display * {
    margin: 5px 0;
}
.renameFolder {
    border-radius: 8px;
    border: none;
    padding: 5px;
}
.renameFolder:focus, .submit-button:focus {
    outline: none;
}
.submit-button {
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    border: none;
}