html{
    height: 100%;
    font-family: 'Baloo 2', cursive;
}

body{
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("./img/background.png");
    background-size: 100%;
}

nav {
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.navbar {
    border: 1px solid white;
    height: 10%;
    margin-bottom: 0;
}
.searcher {
    border-radius: 8px;
    border: 1px solid rgb(59, 59, 59);
    padding: 5px;
}
.searcher:focus {
    outline: none;
}

.wrapper{
    display: flex;
    width: 100%;
    height: 90%;
    margin-bottom: 20px;
}

/* .wrapper *, nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    padding: 5px;
} */

.wrapper-tree{
    width: 25%;
    padding: 8px 10px 10px 10px;
}
.new-folder {
    padding: 5px 3px;
    color: rgb(59, 59, 59);
    border-radius: 8px;
    border: 1px solid rgb(59, 59, 59);
    width: 80%;
    cursor: pointer;
}
.upload-form {
    display: flex;
    flex-direction: column;
}
.upload-file {
    width: 100%;
}

.upload-file::-webkit-file-upload-button {
    visibility: hidden;
}
.upload-file::before {
    content: 'select your file';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border-radius: 8px;
    border: 2px solid rgb(59, 59, 59);
    padding: 5px 3px;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 10px;
    width: 80%;
}
.upload-file:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.upload-file:focus {
    outline: none;
}

.wrapper-main{
    width: 50%;
    overflow-y: scroll;
    font-size: 14px;
}
.wrapper-main::-webkit-scrollbar {
    width: 8px;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(59, 59, 59);
}
.wrapper-main::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgb(105, 105, 105);
}

.showedFolder {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    color: white;
}
.nameFolder {
    text-decoration: none;
    width: 61%;
    text-align: left;
    align-self: center;
}
.nameFolder > h2 {
    color: white;
    font-size: 16px;
    word-wrap: break-word;
}
.nameFolder:focus {
    color: white;
}
.icon2 {
    color: white;
    width: 13%;
    cursor: pointer;
}
.icon {
    width: 13%;
    align-self: center;
    font-size: 25px;
}
.icon2 {
    background: none;
    align-self: center;
}

.wrapper-info{
    width: 25%;
    /* background-color: #F6921A; */
    opacity: 0.5;
}

.hide-border{
    border: none;
}

.form-display{
    display: flex;
    align-items: center;
}